<main id="main" class="main">

<div class="pagetitle">
  <h1>Dashboard</h1>
</div><!-- End Page Title -->

<section class="section dashboard container-fluid">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-">
      <div class="row">

        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Enseignants </h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                  <h6>{{countEnseignant}}</h6>
                  
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card revenue-card">

            <div class="card-body">
              <h5 class="card-title">Modules </h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-book"></i>
                </div>
                <div class="ps-3">
                  <h6>{{countModules}}</h6>
                 
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Revenue Card -->
        <!-- Customers Card -->
        <div class="col-xxl-4 col-md-4">

          <div class="card info-card customers-card">
            <div class="card-body">
              <h5 class="card-title">Filieres </h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-mortarboard"></i>
                </div>
                <div class="ps-3">
                  <h6>{{countFiliere}}</h6>
                  
                </div>
              </div>

            </div>
          </div>

        </div><!-- End Customers Card -->


            <!-- Recent Sales -->
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Intervention </h5>

                    <table class="table table-borderless datatable">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Enseignant</th>
                        <th scope="col">Modules</th>
                        <th scope="col">Total heures</th>
                        <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let intervention of interventions">
                        <th scope="row"><a href="#">5525</a></th>
                        <td>{{intervention.email}}</td>
                        <td><a href="#" class="text-primary">{{intervention.intitule}}</a></td>
                        <td>{{intervention.vhcoursInter }}</td>
                        <!-- <td><span class="badge bg-success">Approved</span></td> -->

                        <td><span class="btn-view"> <i class="bi bi-eye"></i></span></td>
                        </tr>
                       
                    </tbody>
                    </table>

                </div>
                
                
                </div>
                <div class="add-button">
                  <button type="button" class="btn btn-primary" (click)="getEnseiganant();affichermodalEns=true"><i class="bi bi-plus-lg"></i></button>
                </div>
            </div><!-- End Recent Sales -->
      </div>
    </div>
  </div>
</section>
<!-- End Section intervention -->


<section class="section" class="overlayEns" *ngIf="affichermodalEns">
  <div class="row" id="itemGroup">
    <div class="col-lg-6">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Selectionne le Enseignant</h5>

          <!-- Default List group -->
          <ul class="list-group">
            <li class="list-group-item" >
              <div class="row ">
              <div class="col">
                <select class="form-select" aria-label="Default select example" [(ngModel)]="intitule" name="intitule">
                  <option value="Sélectionner le module"  selected>Sélectionner le module</option>
                  <option *ngFor="let module of modules;" >
                    {{ module.intitule ? module.intitule : 'No Intitule' }}
                  </option>
                </select>
              </div>
              </div>
            </li>
            <li class="list-group-item" *ngFor="let enseignant of enseignants" (click)="affichermodalEns=false;toggleFormulaire(enseignant.email);" >{{enseignant.nom}} {{enseignant.prenom}}</li>
          </ul><!-- End Default List group -->  
        </div>
        
      </div>

    </div>

   
  </div>
</section>
<!-- from add intervention -->

<section *ngIf="afficherFormulaireInter" class="overlay">

  <div class="form-element">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ajouter Modules</h5>
          <form (ngSubmit)="onSubmit()">
            <div class="row mb-3">
              <label for="inputEmail" class="col-sm-2 col-form-label"  >Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control"  name="email" [(ngModel)]="email" [disabled]="true" >
              </div>
            </div>
            
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label">Intitule</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="intitule" name="intitule" [disabled]="true">
              </div>
            </div>
            

            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label">VHcours</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="vhcoursInter " name="vhcoursInter">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label">VHTd</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="vhtdInter" name="vhtdInter">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label">VHTp</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="vhtpInter" name="vhtpInter">
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputText" class="col-sm-2 col-form-label">Evaluation</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="evaluationInter" name="evaluationInter">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-10" id="btn-crud">
                <button type="reset" class="btn btn-outline-secondary" (click)="afficherFormulaireInter=false;">Annuler</button>
                <button type="submit" class="btn btn-primary">Ajouter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


</main>