.btn-view{
    color: blue;
    font-weight: bold;
    border: 0px;
    font-size: 1.2em;
    background-color: #fff;
}
.btn-view:hover{
cursor: pointer;
}
.list-group-item:hover{

    background-color: #0d6efd;
    color: #fff;
    cursor: pointer;
}

.overlayEns {
    position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
       z-index: 999; /* Assure que l'overlay est au-dessus de tout le reste */
   }
   #itemGroup{

    position: absolute;
    top: 100px;
   width: 80%;
   left: 40%;

}

.spacebetween{
    display: flex;
    justify-content: space-between;
}

.icon-close{
    cursor: pointer;
}