<main id="main" class="main">

<div class="pagetitle">
  <h1>Dashboard</h1>
</div><!-- End Page Title -->

<section class="section dashboard container-fluid">
  <div class="row">

    <!-- Left side columns -->
    <div class="col-lg-">
      <div class="row">

        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title">Enseignants </h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                </div>
                <div class="ps-3">
                  <h6>145</h6>
                  
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card revenue-card">

            <div class="card-body">
              <h5 class="card-title">Modules </h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-book"></i>
                </div>
                <div class="ps-3">
                  <h6>3,264</h6>
                 
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Revenue Card -->
        <!-- Customers Card -->
        <div class="col-xxl-4 col-md-4">

          <div class="card info-card customers-card">
            <div class="card-body">
              <h5 class="card-title">Filieres </h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-mortarboard"></i>
                </div>
                <div class="ps-3">
                  <h6>1244</h6>
                  
                </div>
              </div>

            </div>
          </div>

        </div><!-- End Customers Card -->


            <!-- Recent Sales -->
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Intervention </h5>

                    <table class="table table-borderless datatable">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Enseignant</th>
                        <th scope="col">Modules</th>
                        <th scope="col">Total heures</th>
                        <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let intervention of interventions">
                        <th scope="row"><a href="#">5525</a></th>
                        <td>{{intervention.email}}</td>
                        <td><a href="#" class="text-primary">{{intervention.intitule}}</a></td>
                        <td>{{intervention.vHcoursInterv}}</td>
                        <!-- <td><span class="badge bg-success">Approved</span></td> -->

                        <td><span class="btn-view"> <i class="bi bi-eye"></i></span></td>
                        </tr>
                       
                    </tbody>
                    </table>

                </div>

                </div>
            </div><!-- End Recent Sales -->
      </div>
    </div>
  </div>
</section>
</main>