<main id="main" class="main">
    <section class="section">
        <div class="row">
          <div class="col-lg-12">
    
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Modules</h5>
                
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th>
                        <b>I</b>ntitule
                      </th>
                      <th>VHcours</th>
                      <th>VHTd</th>
                      <th>VHTp</th>
                      <th>Evaluation</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let module of modules |paginate: { itemsPerPage: 5, currentPage: page } ">
                      <td>{{module.intitule}}</td>
                      <td>{{module.vhcours}}</td>
                      <td>{{module.vhtd}}</td>
                      <td>{{module.vhtp}}</td>
                      <td>{{module.evaluation}}</td>
                      <td>
                        <button class="update" type="button" (click)="update(module)"> <i class="bi bi-pencil-square" ></i></button>
                        <button class="delete" type="button" (click)="delete(module.intitule)"> <i class="bi bi-trash-fill"></i></button>
                    </td>
                    </tr>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
                <div class="paginate">
                  <pagination-controls  previousLabel="Précédent" nextLabel="Suivant" (pageChange)="page = $event" ></pagination-controls>
                </div>
              </div>
            </div>
    
            
        <div class="add-button">
          <button type="button" class="btn btn-primary" (click) ="toggleFormulaire()"><i class="bi bi-plus-lg"></i></button>
        </div>
          </div>
        </div>
        
      </section>
     

      <section *ngIf="afficherFormulaire" class="overlay">
        
        
        <div class="form-element">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Ajouter Modules</h5>
                <form (ngSubmit)="onSubmit()">
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Intitule</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" [(ngModel)]="intitule" name="intitule" [disabled]="intituleDisabled">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">VHcours</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" [(ngModel)]="vHcours" name="vHcours">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">VHTd</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" [(ngModel)]="vHTd" name="vHTd">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">VHTp</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" [(ngModel)]="vHTp" name="vHTp">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Evaluation</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" [(ngModel)]="evaluation" name="evaluation">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">Filiere</label>
                    <div class="col-sm-10">
                      <select class="form-select" aria-label="Default select example" [(ngModel)]="nomFiliere" name="nomFiliere" >
                        <option selected>Sélectionner la filière</option>
                        <option *ngFor="let f of fil" [value]="f.nomFiliere"  >{{f.nomFiliere}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="alertErreur">
                    <i class="bi bi-exclamation-octagon me-1"></i>
                    Vous voulez sélectionner la filière !
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>

                  <div class="row mb-3">
                    <div class="col-sm-10" id="btn-crud">
                      <button type="reset" class="btn btn-outline-secondary" (click)="afficherFormulaire=false;">Annuler</button>
                      <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      
     
    </main><!-- End #main -->
